html {
    font-family: sans-serif;
    text-align: center;
    background-color: #F7F7F7;
}

/* Make the navbar stick on top */
#stockNavBar {
    background-color: #000000;
    position: sticky;
    top: 0%;
    border-radius: 5px; /* Make border less aggressive */
}

/* NOTE() Color letters and add spacing. */
#stockNavBar a {
    color: white;
    padding: 1rem;
}

/* Color the letters and background */
#footer {
    background-color: #000000;
    color: white;
    border-radius: 5px; /* Make border less aggressive */
}

/* Convert main into a flexible box */
/* NOTE each of the three inner should occupy 1 equivalent row */
/* wrap/stack containers in zoom  */
#main {
    background-color: #4F200D;
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    flex-wrap: wrap; 
    justify-content: space-between;
}

.leftDiv, .rightDiv {
    background-color: #854836;
    flex: 2;
    flex-shrink: 1;
    padding: 10px;
    min-width: 50px;
}

.middleDiv {
    background-color: #FFB22C;
    flex: 1;
    padding: 10px;
    /* border: 5px solid #F7F7F7; */
}

.middleDiv img {
    max-width: 300px;
    border-radius: 5px; /* Make border less aggressive */
}

.middleDiv canvas {
    border-radius: 5px; /* Make border less aggressive */
    width: 500px;
    height: 500px;
    border: 5px solid black;
}

.middleDiv p {
    border-radius: 5px; /* Make border less aggressive */
    background-color: #F7F7F7;
}